table {
    border-collapse: collapse;
}
  
table,td,th {
    border: 1px solid black;
}
  
.noborder,.noborder td {
    border: 0px;
}

#dikrechts{
    border-right: 2px solid black;
}

#dik{
    border-bottom: 2px black solid;

}
